* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 50px;
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
    font-size: 40px;
}

section {
    display: flex;
    margin: 20px 0;
    height: 300px;
    border: 5px solid black;
}

.square {
    width: 200px;
    text-align: center;
}

.one {
    background-color: gold;
}

.two {
    background-color: lime;
}

.three {
    background-color: royalblue;
}

.four {
    background-color: tomato;
}
.first {
    flex-direction: column;
}
.first .three,.first .four {
    flex-grow: 1;
}
.second {
    justify-content: space-around;
    align-items: center;
}
.second .square {
height: 100px;
}
.third {
    flex-direction: row-reverse;
}
.third .three {
    order: 3;
}
.third .one{
    flex-grow: 1;
}
.third .four {
    flex-grow:3;
}
.fourth {
    flex-direction: row-reverse;
    align-items: end;
}
.fourth .square{
    height: 200px;
}
.fourth .two, .fourth .three {
    align-self: flex-start;
}